.MenuContainer {
  width: fit-content;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
  padding: 5px 5px 5px 0;
  position: fixed;
  overflow: hidden;
  flex: 0 0 fit-content;
  z-index: 10;
  top: 0;
  left: 0;

}

.MenuItem {
  opacity: 1;

  & .text {
    opacity: 0;
    width: 0;
    text-align: left;

  }
}

.active {
  color: #ffffff;
  background-color: #5570F1;
  border-radius: 5px;

  &:hover {
    background-color: #3e5be7;
    color: #f3f3f3;

  }
}

.deActive {
  color: rgba(0, 0, 0, 0.46);
}
