.MenuContainer {
  width: fit-content;
  height: 100%;
  background-color: #ffffff;
  border-radius: 0 5px 5px 0;
  padding: 5px 5px 5px 0;
  position: relative;
  overflow: hidden;
}

.MenuItem {
  opacity: 1;

  & .text {
    opacity: 0;
    width: 0;
    text-align: left;

  }
}

.active {
  color: black;
}

.deActive {
  color: rgba(0, 0, 0, 0.46);
}
