@import "../../styles/mixins.module";

.BankCard {
  display: flex;
  flex-grow: 1;

  @include xsBreakpoint{
    padding: 10px;
    border-radius: 10px;

  }
  @include mdBreakpoint{
    padding: 15px;
    border-radius: 20px;

  }

  color: white;
  box-shadow: -12px 20px 8px -20px rgba(30, 30, 60, 0.47);
}

.Glass {
  background: rgba(255, 255, 255, 0.61);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
}

